webfahasa/public_html/app/code/local/Danslo/ApiImport/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="apiImportImportEntitiesResultArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="integer" type="xsd:int" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="apiImportImportEntitiesArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:associativeArray" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="apiImportImportEntitiesResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:apiImportImportEntitiesResultArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="apiImportImportEntitiesRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="entities" type="typens:apiImportImportEntitiesArray" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="entityType" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="behavior" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="apiImportImportEntitiesRequest">
        <wsdl:part name="parameters" element="typens:apiImportImportEntitiesRequestParam" />
    </wsdl:message>

    <wsdl:message name="apiImportImportEntitiesResponse">
        <wsdl:part name="parameters" element="typens:apiImportImportEntitiesResponseParam" />
    </wsdl:message>

    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="apiImportImportEntities">
            <wsdl:documentation>Import entities</wsdl:documentation>
            <wsdl:input message="typens:apiImportImportEntitiesRequest" />
            <wsdl:output message="typens:apiImportImportEntitiesResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http/" />
        <wsdl:operation name="apiImportImportEntities">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
